<ion-view title="我的">
    <ion-content>
        <div class="list">
            <a class="item item-icon-right" href="#/tab/login">
                尚未登录
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/tab/userInfo">
                欢迎您：
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right">
                目前积分：
            </a>
            <div class="item item-divider">
                订单记录
            </div>
            <a class="item" href="#/tab/orderConfirm">
                确认收货
                <span class="badge badge-assertive">3</span>
            </a>
            <a class="item" href="#/tab/order">
                全部订单
            </a>
        </div>

    </ion-content>
</ion-view>