<ion-view view-title="订单确认" ng-controller="orderConfirmCtrl">
    <ion-content class="padding">
        <ion-list>
            <div>
                <ion-item class="item-avatar orderInfo">
                    <h2>药名</h2>
                    <p>订单时间</p>
                </ion-item>
                <ion-item class="item-body">
                    <div class="col">
                        <img class="col-40" src="images/2927bf32-6714-4336-af72-c7f9b34f3c69.jpg">
                    </div>
                    <div class="col-60">
                        <p>药厂</p>
                        <p>经销商</p>
                    </div>
                    <p class="confirmBtn">
                        <button class="button button-small  button-assertive" ng-click="showConfirm()">确认收货</button>
                    </p>
                </ion-item>
            </div>
            <div>
                <ion-item class="item-avatar orderInfo">
                    <h2>药名</h2>
                    <p>订单时间</p>
                </ion-item>
                <ion-item class="item-body">
                    <div class="col">
                        <img class="col-40" src="images/2927bf32-6714-4336-af72-c7f9b34f3c69.jpg">
                    </div>
                    <div class="col-60">
                        <p>药厂</p>
                        <p>经销商</p>
                    </div>
                    <p class="confirmBtn">
                        <button class="button button-small button-outline button-assertive" ng-click="showConfirm()">确认收货</button>
                    </p>
                </ion-item>
            </div>


        </ion-list>
    </ion-content>
</ion-view>