<ion-view title="修改密码">
    <ion-content>
        <div class="content has-header">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="password" placeholder="初始密码">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="新密码">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-assertive">修改</button>
            </div>
        </div>
    </ion-content>
</ion-view>