<ion-view title="用户信息">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                基本信息
            </div>
            <a class="item item-icon-left" >
                <i class="icon ion-ios-home-outline"></i>
                所属药店
            </a>
            <a class="item item-icon-left" >
                <i class="icon ion-ios-location-outline"></i>
                所属地区
            </a>
            <div class="item item-divider">
                信息修改
            </div>
            <a class="item item-icon-left" href="#/tab/pwd">
                <i class="icon ion-ios-compose-outline"></i>
                修改密码
            </a>
            <button class="button button-block button-assertive">注销</button>
        </div>

    </ion-content>
</ion-view>